<div class="content-home">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-12 col-xl-8">
          <div class="title">
            <h3 style="color: rgb(0, 84, 138)" class="pb-3">
              Welcome to Celerity Enterprises!
            </h3>
            <p>
              We provide a unified platform for agreement reconciliation,
              communication, and reporting between parties across the supplier
              and distribution network
            </p>
          </div>
        </div>
        <div class="col-12 col-xl-4"></div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-xl-8">
          <div class="row">
            <div class="col-12 col-md-12 col-xl-12 item">
              <div class="icon-card">
                <svg
                  class="size-icon-card"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 1024 1024"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M483.2 790.3L861.4 412c1.7-1.7 2.5-4 2.3-6.3l-25.5-301.4c-.7-7.8-6.8-13.9-14.6-14.6L522.2 64.3c-2.3-.2-4.7.6-6.3 2.3L137.7 444.8a8.03 8.03 0 0 0 0 11.3l334.2 334.2c3.1 3.2 8.2 3.2 11.3 0zm62.6-651.7l224.6 19 19 224.6L477.5 694 233.9 450.5l311.9-311.9zm60.16 186.23a48 48 0 1 0 67.88-67.89 48 48 0 1 0-67.88 67.89zM889.7 539.8l-39.6-39.5a8.03 8.03 0 0 0-11.3 0l-362 361.3-237.6-237a8.03 8.03 0 0 0-11.3 0l-39.6 39.5a8.03 8.03 0 0 0 0 11.3l243.2 242.8 39.6 39.5c3.1 3.1 8.2 3.1 11.3 0l407.3-406.6c3.1-3.1 3.1-8.2 0-11.3z"
                  ></path>
                </svg>
              </div>
              <div class="content-card">
                <h3 class="fw-bold title-card">Agreements</h3>
                <p class="lh-lg">
                  Review the status of special pricing agreements in place with
                  your customers. View, modify, or publish agreements details to
                  ensure contact rules are in place for accounting accuracy
                </p>
              </div>
              <div class="button-card">
                <button class="btn btn-style">Get Started</button>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12 item">
              <div class="icon-card">
                <svg
                  class="size-icon-card"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill-rule="nonzero"
                      d="M16 20V4H4v15a1 1 0 0 0 1 1h11zm3 2H5a3 3 0 0 1-3-3V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v7h4v9a3 3 0 0 1-3 3zm-1-10v7a1 1 0 0 0 2 0v-7h-2zM6 6h6v6H6V6zm2 2v2h2V8H8zm-2 5h8v2H6v-2zm0 3h8v2H6v-2z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="content-card">
                <h3 class="fw-bold title-card">Claims</h3>
                <p class="lh-lg">
                  Ensure claims and submittals are ready to be sent to your
                  trading partners. Check the status of claim submissions, track
                  workflow, and have complete transparency through the
                  submission process.
                </p>
              </div>
              <div class="button-card">
                <button class="btn btn-style">Check Claims</button>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12 item">
              <div class="icon-card">
                <svg
                  class="size-icon-card"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 512 512"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M32 32v432a16 16 0 0016 16h432"
                  ></path>
                  <rect
                    width="80"
                    height="192"
                    x="96"
                    y="224"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    rx="20"
                    ry="20"
                  ></rect>
                  <rect
                    width="80"
                    height="240"
                    x="240"
                    y="176"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    rx="20"
                    ry="20"
                  ></rect>
                  <rect
                    width="80"
                    height="304"
                    x="383.64"
                    y="112"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    rx="20"
                    ry="20"
                  ></rect>
                </svg>
              </div>
              <div class="content-card">
                <h3 class="fw-bold title-card">Reports</h3>
                <p class="lh-lg">
                  Get updated agreement and claim data in real time, providing
                  business intelligence for up-to-date understanding of your
                  business. Create key performance reports, create scheduled
                  reporting, and enjoy self-service analytics created for your
                  unique business goals.
                </p>
              </div>
              <div class="button-card">
                <button class="btn btn-style">View Reports</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-4">
          <div class="workflow">
              <div class="head-workflow">
                <h4 class="fw-bold" style="color: black;">My Workflow</h4>
                <button type="button" style="width: 100px;" class="btn btn-outline-primary">See all</button>
              </div>
              <div class="body-workflow fs-6">
                <p style="color: rgb(190, 191, 192)">There are no tasks assigned to you</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
