.bg-color{
  background-image: linear-gradient(rgb(25, 119, 162),rgb(8, 69, 103));
}
.logo{
  width: 80px;
}
.icon{
  margin: 0px 5px 0px 15px !important;
  width: 20px !important;
  height: 20px !important;
}
